.products-text{
  text-align: center;
   
  width: 90%;
  margin: auto;
  align-items: center;
}

.products-text h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.products-text p{
  margin-bottom: 2rem;
}